* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body{
    background-color: #93a3ce;
    h1{
        box-sizing: content-box;
        padding: 20px ;
        color: #753232;
        text-decoration: underline;
    }
    .formulario{
        padding: 15px;
        width: 80vw;
    }
    label{
        color: white;
        padding-bottom: 5px;
    }
    button{
        background-color: blue;
        color: white; 
        padding: 15px;
        margin-left: 15px;
        &:hover{
            background-color: green;
        }
    }
    ol{
        color: #753232;
        font-size: 1.3rem;
    }
}

